*{
	margin: 0;
	padding: 0;
}
body{
	font-family: poppins;
}



.home{
	position: relative;
	padding-top: 20vh; 
	width: 100%;
	height: 100vh;
	background-image: url(../image/bg-home.jpg);
    background-repeat: no-repeat;
    background-position: center;
	background-size: cover;
	padding-bottom: 50px;
	
}

.home::before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}


.home .desc {
	position: relative;
	z-index: 2;
	margin-top: 50px;
	
}

.home h1{
	color: #FFF;
	font-weight: 400;
	font-size: 79px;
}
.home p{
	color: #000;
	font-size: 20px;
	font-weight: 300;
}
.home-button {
	margin: 30px auto;
    background-color: #4A6EF6; 
    color: white;
    padding: 10px 20px; 
    font-size: 16px;
    border: none; 
    border-radius: 30px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.home-button:hover {
    background-color: #3a56d6; /
}

.home h2{
	font-size: 40px;
	font-weight: 250;
}

@media screen and (max-width: 990px) {
	.home{
		padding-top: 10vh; 
	}
	.home .desc {
		margin-top: 120px;
	}	
	
	.home h1{
		font-size: 49px;
	}
	.home-button {
		background-color: #4A6EF6; 
		color: white;
		padding: 10px 20px; 
		font-size: 16px;
		border: none; 
		border-radius: 30px;
		box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
		cursor: pointer; 
		transition: background-color 0.3s ease; 
	}
	
	.home-button:hover {
		background-color: #3a56d6; /
	}
	
	.home h2{
		font-size: 40px;

	}
	
}

.navbar-toggler{
	border: none;
}

/* .navbar {
    color: #303030; 
}
.navbar .nav-link {
    color: #303030; 
	font-weight: 400;
	transition: color 0.3s; 
} */

.log 
.navbar .nav-link.active,
.navbar .nav-link:hover {
    color: #FFF;
	font-weight: 500; 
}

.navbar.fixed-top.scrolled {
	background-color: white !important;
	transition: background-color 600ms linear;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	color: FFF;
}
.navbar.fixed-top.scrolled .navbar-nav .nav-link  {
	color: #030303 !important; 
}
.navbar.fixed-top.scrolled .navbar-brand {
	color: #030303 !important;
}

.navbar-toggler.logo img {
    content: url('../image/icon/lines2.png'); 
	width: 20px; /* Ukuran default sebelum scroll */
    height: auto; /
}

/* Logo setelah scroll */
.navbar.scrolled .navbar-toggler.logo img {
    content: url('../image/icon/lines.png'); 
	width: 20px; /* Ukuran default sebelum scroll */
    height: auto; /
}

/* judul diri */
.judul-diri h1 {
	color: #333;
	margin-bottom: 20px;
	font-weight: 500;
	font-size: 50px;
	text-align: center;
}

@media screen and (max-width: 900px) {
    .judul-diri h1 {
        margin-bottom: 30px;
        font-size: 35px;
        text-align: center;
    } 
}
/*about*/

.bg-about {
    background-color: #fff;
	padding-top: 80px;
	padding-bottom: 80px;
}
.about-image {
	width: 200px;
	/* height: 50px; */
}

.judul-about {
	color: #303030;
	margin-bottom: 30px;
}
.judul-about2 h1{
	color: #303030;
	font-size: 24px;
	margin-bottom: 20px;
}
.about {
	color: #333;
	line-height: 1.7;
	margin-bottom: 30px;
}

.judul-about h1 {
	font-size: 40px;
}

p.bio-about {
	font-size: 18px;
}
.foto-profil {
    padding: auto 0;
}
.foto-profil img {
    max-width: 100%; 
    height: auto;  
    display: block; 
    
}
.foto-profil2 img {
    max-width: 100%; 
    height: auto;  
    display: block; 
    
}
.profil .col-lg-3, .profil .col-md-12 {
    display: flex;
    justify-content: center; 
    align-items: center;     
    flex-direction: column;   
    text-align: center;       
    height: 100%;            
}

@media (min-width: 992px) {
    .profil .col-lg-3 {
        max-width: 300px; 
    }
}





@media screen and (max-width: 900px) {
    .profil {
        padding-top: 100px;
    }
    .photo{
        max-width: 250px;
        height: 320px;
    }
    .judul-about {
        margin-bottom: 25px;
    }
    .about {
        padding-top: 30px;
        line-height: 1.7;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 30px;
		padding-left: 0px;
    }
    .judul-about h1 {
        font-size: 30px;
    }
    p {
        font-size: 15px;
    }
    p.bio-about {
        font-size: 17px;
    }
}


/* grup */
.bg-group {
	margin-bottom: 5vh; 
}


/* judul diri */
.bg-group h1 {
	color: #333;
	margin-bottom: 50px;
	font-weight: 250;
	font-size: 50px;
	font-weight: 500;
	text-align: center;
}

@media screen and (max-width: 992px) {
	.bg-group h1 {
		font-size: 35px;
		margin-bottom: 20px;
	}
}


/* asdn */

.card-profile {
	border: none;
	border-radius: 10px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	padding: 20px;
	margin: 20px 20px;
  }

  .profile-image {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	object-fit: cover;
  }


  .profile-name {
	font-weight: bold;
	font-size: 25px;
	color: #4285F4;
  }

  .profile-position {
	font-size: 16px;
	color: #6c757d;
	font-weight: 400;
  }

  .profile-desc {
	font-size: 14px;
	color: #6c757d;
  }

@media screen and (max-width: 992px) {
	.profile-image {
		width: 100px;
		height: 100px;
		border-radius: 50%;
		object-fit: cover;
	  }
	
	
	  .profile-name {
		font-weight: bold;
		font-size: 19px;
		color: #4285F4;
	  }
	
	  .profile-position {
		font-size: 14px;
		color: #6c757d;
		font-weight: 400;
	  }
	
	  .profile-desc {
		font-size: 13px;
		color: #6c757d;
	  }

}


/* endgroup */



/* kegiatan */
.bg-kegiatan h1 {
	color: #333;
	margin-bottom: 50px;
	font-weight: 250;
	font-size: 80px;
	font-weight: 500;
	text-align: center;
}

@media screen and (max-width: 992px) {
	.bg-kegiatan h1 {
		font-size: 35px;
		margin-bottom: 50px;
	}
}

.card-event {
	border: none;
	border-radius: 10px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	transition: transform 0.2s;
	margin-bottom: 20px;
  }

  .card-event:hover {
	transform: scale(1.02);
  }

  .event-image {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	object-fit: cover;
	width: 100%;
	height: 200px;
  }

  .event-date {
	font-size: 12px;
	color: #6c757d;
	margin-top: 0px;
  }

  .event-title {
	font-size: 17px;
	font-weight: bold;
	color: #030303;
	margin-top: 3px;
  }







/* endkegiatan */
.footer {
	background-color: #fff; 
	color: #303030;
	box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}
